html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {
    -webkit-appearance: none;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
}

.material-icons.light-gray {
    color: #9aa0a6;
}

.google-homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

.header-right {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

.header-item {
    margin: .5rem 1rem;
}

.profile-icon {
    margin: .3rem 0rem 0rem 0rem;
}

.top-page {
}

.middle-page {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0rem auto 3rem auto;
}

.bottom-page {
    margin: 0rem auto 15rem auto;
}

#google-logo {
    margin: 1rem;
    width: auto;
    height: 70px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 8px 4px 16px;
    border: solid 1px rgba(223,225,229,1);
    border-radius: 2rem;
    width: 40rem;
    margin: 0rem 5rem;
}

#search-button {
    border: solid 1px rgba(223,225,229,0);
    outline: none;
    height: 34px;
    width: 90%;
    font-size: 18px;
}

.search:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border: solid 1px rgba(223,225,229,0);
}

#search-button::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#mag-glass {
    margin: 0rem .5rem 0rem 0rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 60px;
    background-color: #f2f2f2;
}

.footer-item {
    margin: 0rem 2rem;
}

.s-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.google-search {
    text-align: center;
    width: 100%;
    padding: .6rem .7rem;
    background-color: #f8f9fa;
    border-radius: .3rem;
    margin: 1rem;
}

.lucky-search {
    text-align: center;
    min-width: 150px;
    padding: .6rem 0rem .6rem 0rem;
    background-color: #f8f9fa;
    border-radius: .3rem;
    margin: 1rem;
}

.lucky-search:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    cursor: pointer;
}

.google-search:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    cursor: pointer;
}